<h2 class="title">new post</h2>

<%= form_for :post, url: posts_path do |f| %>
  <%= f.text_field :title, placeholder: "Title" %>

  <%= f.text_area :body, placeholder: "Body" %>

  <%= f.submit %>
<% end %>