// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.sidebar {
  float: left;
  width: 150px;
  box-sizing: border-box;
  

  ul {
    width: 100%;
    padding-left: 30px;
    border: 1px solid black;
    box-sizing: border-box;

    li {
      margin-bottom: 5px;
    }
  }
}

div.content {
  float: left;
  padding-left: 20px;
  width: 100%;
  max-width: 790px;
  box-sizing: border-box;

  h2.title {
    margin: 0;
  }
  
  div.post-wrapper {
    margin-bottom: 25px;
  }
}

input, textarea, {
  width: 500px;
  margin-bottom: 25px;
}

textarea {
  height: 500px;
}